 {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
 }

html {
	font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#92CDED;

}

body {
	margin: 5;
	padding: 5;
	background-image:url(../img/rocket-ship.png);
	background-repeat:no-repeat;
	background-position:center;
}

label {
	display: block;
	cursor:pointer;
}

input,
textarea {
	font-size: 1rem;
	font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.input-text {
	padding: 0.5em 0.5em;
	background-image: linear-gradient(to bottom, #efefef, #e2e2e2);
	width: 97%;
	border: 1px solid #ccc;	
	font-size: 1rem;
}

input + label {
	display:inline;
}


.error {
	display: block;
	color: #f33;
}

.input-error {
	border: 3px solid #f33;
	border-style:dotted;	
}

div {
	margin-bottom: 14px;
}

fieldset {
	margin-bottom: 14px;
}

button {
	padding: 0.5em;
	font-size: 1.125rem;
	border: 2px solid #900;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #C60, #F90);
	color: #fff;
	cursor: pointer;
}


.formdiv {
	opacity: 1;
	max-width: 600px;
	padding: 25px;
} 
	
	
hr {
	color: #f00;
	background-color: #E00;
	height: 3px;
	margin-top: -17px;
	margin-bottom: 16px;
}


img {
	max-width: 10px;
	max-height: 10px;
}